body {
  padding-top: 50px;
}
.data-enter {
  padding: 40px 15px;
}

.data-enter {
  padding: 15px;
  margin: 0 auto;
}
.data-enter .data-enter-heading,
.data-enter .checkbox {
  margin-bottom: 10px;
}
.data-enter .checkbox {
  font-weight: normal;
}
.data-enter .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.data-enter .form-control:focus {
  z-index: 2;
}
