<!doctype html>
<html ng-app="audit">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="//cdn.jsdelivr.net/angular.initial-value/latest/angular-initial-value.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
      <script src="js/app.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>

<body >
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Audit</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#/">General</a>
        </li>
        <li>
          <a href="#room">Room</a>
        </li>
        <li>
          <a href="#rack">Rack</a>
        </li>
        <li>
          <a href="#equipment">Equipment</a>
        </li>
        <li>
          <a href="#data">Data</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main" class="container container col-xs-12 col-md-8">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>

    </div>


<!--
    <uib-tabset class="tab-animation">
      <uib-tab heading="General">
        <div ng-include="'/html/general.html'"></div>
      </uib-tab>
      <uib-tab heading="Room">
        <div ng-include="'/html/room.html'"></div>
      </uib-tab>
      <uib-tab heading="Rack">
        <div ng-include="'/html/rack.html'"></div>
      </uib-tab>
      <uib-tab heading="Equipment">
        <div class="col-xs-12 col-md-8">
          <div ng-include="'/html/equipment.html'"></div>
        </div>
        <div class="col-xs-12 col-md-8">
          <a data-toggle="tab" class="btn btn-lg btn-primary btn-block" href="#rack">
            Next
          </a>
        </div>
      </uib-tab>
    </uib-tabset>
</body>
-->
<!--
<script src="/js/audit.js"></script>
-->
</body>
</html>
