<!doctype html>
<html ng-app="audit">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
    <script src="js/app.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body>

    <div ng-controller="TabsDemoCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Audit</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">General</a>
            </li>
            <li>
              <a href="#room">Room</a>
            </li>
            <li>
              <a href="#rack">Rack</a>
            </li>
            <li>
              <a href="#equipment">Equipment</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>

      <div class="container col-xs-12 col-md-8">
        <div class="tab-content">
          <div id="home" class="active data-enter tab-pane">
            <label>Location</label>
            <input id="Location" size="30" class="form-control" name="Location" title="Enter town or region" />
            <label>Site Address</label>
            <input id="SiteAddress" size="30" class="form-control" name="SiteAddress" title="Enter Full address with Postcode" />
            <label>Dept</label>
            <select name="ceiling_type" class="form-control">
              <option>DOJ</option>
              <option>DWELP</option>
              <option>DEDJTR</option>
              <option>DHS</option>
            </select>
            <label>GPS</label>
            </br>
            <div class="input-group double-input">
              <input id="GPS" type="text" class="form-control" title="Latitude, Longitude" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" value="Get Location" onclick="getLocationConstant()"/>GPS</button>
              </span>
            </div>
    <br><br>


            <button class="btn btn-primary btn-block"><a data-toggle="tab" class="btn btn-primary btn-block" href="#room">
                  Next
                </a>
              </button>
          </div>
    <!-- END FORM -->

          <div id="room" class="tab-pane fade">
            Room
          </div>
          <div id="equipment" class="tab-pane fade">
            Equipment
          </div>
          <div id="rack" class="tab-pane fade">
            Rack
          </div>
        </div>
      </div>

    </div>

    <script src="/js/audit.js"></script>
  </body>
</html>
